
body {
    background-image: url("images/tesla_model_3.png"), url("images/tesla_model_y.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: local;

}

div.header {
    text-align: center;
}

ul li {
    font-family: "Segoe UI", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #171A20;
    display: block;
    padding: 4px 8px 4px 8px;

}


ul.models {
    display: flex;
    align-items: center;
}

ul.nav {
    display: flex;
    align-items: end;
}

a:link a:hover a:visited a:active {
    font-weight: 500;
    font-size: 14px;
    color: #171A20;
    text-decoration: none;
}


a.order {
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: white;

    display: inline-block;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(23, 26, 32, 0.8);
    background-color: rgba(23, 26, 32, 0.8);
    border-radius: 4px;
    block-size: border-box;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 4px;
    padding-top: 4px;
    align-items: center;
    text-align: center;
    width: 210px;
    height: 26px;
}

div.buttons {
    line-height: 1.2;
    display: inline-block;
    width: 210px;
    height: 16.8px;
    padding: 5px;
    font-weight: bold;
    align-items: center;
}




